@import "tailwindcss";

body {
  font-family: "Poppins", sans-serif;
}

.rdp-root {
  --rdp-accent-color: indigo; /* Change the accent color to indigo. */
  --rdp-accent-background-color: #f0f0f0; /* Change the accent background color. */
  /* Add more CSS variables here. */

  .rdp-chevron {
    fill: #0f172a;
  }

  .rdp-caption_label {
    color: #0f172a;
    font-size: 16px;
    font-weight: 500;
  }
  .rdp-day_button {
    width: 70px;
  }
}

@media only screen and (min-width: 1680px) {
  .rdp-root {
    .rdp-day_button {
      width: 90px;
    }
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

* {
  scroll-behavior: smooth;
}
